#table{
   font-size: 40px;
   padding: 20px;

}
.div-align{
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   margin-top:4em;
   
   
}
.main-header{
   color: #7c3aed;
   font-size:  32px;
   font-weight:700
}
.paragraph{
   font-size:18px;
   font-weight: 200;
   opacity: 0.8;

}
.label-display{
   display:block;
   margin-top: 1rem;
   font-weight: 600;
   font-size: 18px;
}
#btn-click{
   margin-top: 1rem;
   background-color: #7c3aed;
   color: #fff;
   padding: 10px 15px 10px 15px;
   font-size: 18px;
   border: 2px solid #7c3aed;
   border-radius: 10px;
}
.input-align{
   margin-top: 1rem;
   border-radius: 10px;
   border: 2px solid #7c3aed;
   padding: 0.5em;
   width: 240px;
   height: 20px;
}
#table{
   margin: auto;
   border-collapse: collapse;
   font-size: 1em;
   border: 2px solid #7c3aed;
   
}

td{
   padding: 0.5em;
   width: 50px;
}
.table-header{
   width: 170px;
   font-weight: bold;
}